.Contenedor {
  text-align: center;
  padding: 20px;
}

.StyleCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
